<!DOCTYPE html>
<html lang="en">
<%- include('./../blocks/head.ejs', {title: title}) %>
<body>
<%- include('./../blocks/header.ejs', {isLoggedIn: isLoggedIn, isAdmin:
isAdmin}) %>
<main>
    <div class="container">
        <div class="text-center">
            <% if (language == "en") { %>
                <p class="lead text-primary mt-5">
                    <strong> The project is an author's blog for writing book reviews.</strong>
                </p>
                <p class="text-start">
                    <strong>Features:</strong>
                <ul class="text-start">
                    <li>User: authorization on the portal, editing profile and commenting on reviews.</li>
                    <li>Administrator: Administrative panel for managing users and content.</li>
                    <li>Critic (administrator) module with the ability to publish reviews, as well as edit them.</li>
                    <li>Integration with book library (external APIs).</li>
                </ul>
                <p>Current time: <%= time %></p>
                </p>

            <% } else { %>
                    <p class="lead text-primary mt-5">
                        <strong> Проект является авторским блогом по составлению рецензий на книги.</strong>
                    </p>
                    <p class="text-start">
                        <strong>Возможности:</strong>
                    <ul class="text-start">
                        <li>Пользователь: авторизация на портале, редакирование профиля и комментирование рецензий.</li>
                        <li>Администратор: административная панель для управления пользователями и контентом.</li>
                        <li>Модуль критика(администратора) с возможностью публикаций рецензий, а так же ее редактирование.</li>
                        <li>Интеграция с библиотекой книг (внешними API)</li>
                    </ul>
                    <p>Текущее время: <%= time %></p>
            <% } %>
        </div>
        <div class="mt-5">
            <div class="row">
                <div class="col-lg-6 mb-4">
                    <p>The plot of this work is known to everyone.
                        Little Mowgli ends up in a wolf pack, which raises him along with their young.
                        The baby quickly gets used to wild life and experiences many adventures with new friends.</p>
                    <img src="<%= book1ImageUrl %>" alt="Book 1" class="img-fluid rounded">
                </div>
                <div class="col-lg-6 mb-4">
                    <p>For this, after the death of the leader of the pack, Akela, he is elected as the new leader.
                        However, the main mission of the hero is to defeat the cruel tiger Sherkhan, who once attacked his parents.</p>
                    <img src="<%= book2ImageUrl %>" alt="Book 2" class="img-fluid rounded">
                </div>
            </div>
        </div>
    </div>
</main>


<%- include('./../blocks/footer.ejs', {language}) %>
</body>
</html>